body{
	background-color:gray;
}
#div1{
	width: 210px;
	height: 640px;
	background-color: red;
	float: left;
}
#div2{
	width: 210px;
	height: 640px;
	background-color:yellow; 
	float: left;
}
#div3{
	width: 210px;
	height: 640px;
	background-color: green;
	float: left;
}
#div4{
	width: 212px;
	height: 640px;
	background-color:orange;
	float: left;
}
#div5{
	width: 213px;
	height: 640px;
	background-color:brown;
	float: left;
}
#div6{
	width: 215px;
	height: 640px;
	background-color:pink;
	float: left;
}